%form.expense
	:each field in ['Category', 'Date', 'Amount']
		%label{ class: "#{field.toLowerCase()} row" }
			%input{ name: field.toLowerCase(), placeholder: field, type: 'text' }

	%button.primary{ type: 'submit' } Add
