%form.expense
	:each field in ['Category', 'Date', 'Amount']
		%label{ class: field.toLowerCase() }
			%input{ name: field.toLowerCase(), placeholder: field }
			%small.error

	%button.primary{ type: 'submit' } Add
