%ul{ class: "button-group [radius round]" }
  %li
		%a{ class: "button [secondary success] prev" }
			<
	%li
		%a{ class: "button [secondary success] month", data-horizon: 'month' }
			Month
	%li
		%a{ class: "button [secondary success] week", data-horizon: 'week' }
			Week
	%li
		%a{ class: "button [secondary success] next" }
			>
