%table.expenses.row
	- if(collection.models.length) {
	%thead
		%tr
			:for attr, value in collection.models[0].attributes
				%th= attr.capitalize()
			%th Delete
	%tbody
	:for model in collection.models
		%tr.expense
			:for attr, value in model.attributes
				%td= value
			%td.controls
				%button.delete.tiny.alert{ data-id: "#{model.get('id')}" } X
	- }
